DATABASE_URL=postgresql://.....
NODE_ENV=development
LOG_LEVEL=info

PORT=4000
CLIENT_ORIGIN=http://localhost:3000
# OPENAI_API_KEY= 
ZENROWS_API_KEY=
OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1